In [81]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import *
import xgboost as xgb

from sklearn.preprocessing import PowerTransformer


import warnings
warnings.filterwarnings("ignore")
pd.set_option("display.max_columns", None)

In [82]:
df = pd.read_csv("cleaned_df.csv")

df["Policy Start Date"] = pd.to_datetime(df["Policy Start Date"])

In [83]:
df.shape

(2000000, 20)

In [84]:
df.isnull().sum()

Age                          0
Gender                       0
Annual Income                0
Marital Status               0
Number of Dependents         0
Education Level              0
Occupation                   0
Health Score                 0
Location                     0
Policy Type                  0
Previous Claims              0
Vehicle Age                  0
Credit Score                 0
Insurance Duration           0
Policy Start Date            0
Customer Feedback            0
Smoking Status               0
Exercise Frequency           0
Property Type                0
Premium Amount          800000
dtype: int64

In [85]:
train = df.iloc[:1200000, :]
train.shape

(1200000, 20)

In [86]:
test = df.iloc[1200000:, :]
test.shape

(800000, 20)

In [87]:
test

,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount
1200000,28.0,Female,2310.0,Single,4.0,Bachelor's,Self-Employed,7.657981,Rural,Basic,2.0,19.0,493.0,1.0,2023-06-04 15:21:39.245086,Poor,Yes,Weekly,House,NaN
1200001,31.0,Female,126031.0,Married,2.0,Master's,Self-Employed,13.381379,Suburban,Premium,1.0,14.0,372.0,8.0,2024-04-22 15:21:39.224915,Good,Yes,Rarely,Apartment,NaN
1200002,47.0,Female,17092.0,Divorced,0.0,PhD,Unemployed,24.354527,Urban,Comprehensive,1.0,16.0,819.0,9.0,2023-04-05 15:21:39.134960,Average,Yes,Monthly,Condo,NaN
1200003,28.0,Female,30424.0,Divorced,3.0,PhD,Self-Employed,5.136225,Suburban,Comprehensive,1.0,3.0,770.0,5.0,2023-10-25 15:21:39.134960,Poor,Yes,Daily,House,NaN
1200004,24.0,Male,10863.0,Divorced,2.0,High School,Unemployed,11.844155,Suburban,Premium,1.0,14.0,755.0,7.0,2021-11-26 15:21:39.259788,Average,No,Weekly,House,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999995,50.0,Female,38782.0,Married,1.0,Bachelor's,Employed,14.498639,Rural,Premium,1.0,8.0,309.0,2.0,2021-07-09 15:21:39.184157,Average,Yes,Daily,Condo,NaN
1999996,56.0,Female,73462.0,Single,0.0,Master's,Self-Employed,8.145748,Rural,Basic,2.0,0.0,452.0,2.0,2023-03-28 15:21:39.250151,Good,No,Daily,Apartment,NaN
1999997,26.0,Female,35178.0,Single,0.0,Master's,Employed,6.636583,Urban,Comprehensive,2.0,10.0,764.0,6.0,2019-09-30 15:21:39.132191,Poor,No,Monthly,Apartment,NaN
1999998,34.0,Female,45661.0,Single,3.0,Master's,Self-Employed,15.937248,Urban,Premium,2.0,17.0,467.0,7.0,2022-05-09 15:21:39.253660,Average,No,Weekly,Condo,NaN
1999999,25.0,Male,24843.0,Divorced,3.0,High School,Employed,24.893939,Suburban,Comprehensive,1.0,15.0,686.0,8.0,2021-05-18 15:21:39.108562,Good,No,Rarely,House,NaN

#
---
#

# Adding Dates columns

In [88]:
df["Policy Start Date - Day"] = df["Policy Start Date"].dt.day
df["Policy Start Date - Month"] = df["Policy Start Date"].dt.month
df["Policy Start Date - Year"] = df["Policy Start Date"].dt.year

In [89]:
df["Policy Start Date - Quarter"] = df["Policy Start Date"].dt.year.astype(str) + " Q" + df["Policy Start Date"].dt.quarter.astype(str)

In [90]:
df

,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount,Policy Start Date - Day,Policy Start Date - Month,Policy Start Date - Year,Policy Start Date - Quarter
0,19.0,Female,10049.0,Married,1.0,Bachelor's,Self-Employed,22.598761,Urban,Premium,2.0,17.0,372.0,5.0,2023-12-23 15:21:39.134960,Poor,No,Weekly,House,2869.0,23,12,2023,2023 Q4
1,39.0,Female,31678.0,Divorced,3.0,Master's,Self-Employed,15.569731,Rural,Comprehensive,1.0,12.0,694.0,2.0,2023-06-12 15:21:39.111551,Average,Yes,Monthly,House,1483.0,12,6,2023,2023 Q2
2,23.0,Male,25602.0,Divorced,3.0,High School,Self-Employed,47.177549,Suburban,Premium,1.0,14.0,555.0,3.0,2023-09-30 15:21:39.221386,Good,Yes,Weekly,House,567.0,30,9,2023,2023 Q3
3,21.0,Male,141855.0,Married,2.0,Bachelor's,Self-Employed,10.938144,Rural,Basic,1.0,0.0,367.0,1.0,2024-06-12 15:21:39.226954,Poor,Yes,Daily,Apartment,765.0,12,6,2024,2024 Q2
4,21.0,Male,39651.0,Single,1.0,Bachelor's,Self-Employed,20.376094,Rural,Premium,0.0,8.0,598.0,4.0,2021-12-01 15:21:39.252145,Poor,Yes,Weekly,House,2022.0,1,12,2021,2021 Q4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999995,50.0,Female,38782.0,Married,1.0,Bachelor's,Employed,14.498639,Rural,Premium,1.0,8.0,309.0,2.0,2021-07-09 15:21:39.184157,Average,Yes,Daily,Condo,NaN,9,7,2021,2021 Q3
1999996,56.0,Female,73462.0,Single,0.0,Master's,Self-Employed,8.145748,Rural,Basic,2.0,0.0,452.0,2.0,2023-03-28 15:21:39.250151,Good,No,Daily,Apartment,NaN,28,3,2023,2023 Q1
1999997,26.0,Female,35178.0,Single,0.0,Master's,Employed,6.636583,Urban,Comprehensive,2.0,10.0,764.0,6.0,2019-09-30 15:21:39.132191,Poor,No,Monthly,Apartment,NaN,30,9,2019,2019 Q3
1999998,34.0,Female,45661.0,Single,3.0,Master's,Self-Employed,15.937248,Urban,Premium,2.0,17.0,467.0,7.0,2022-05-09 15:21:39.253660,Average,No,Weekly,Condo,NaN,9,5,2022,2022 Q2
1999999,25.0,Male,24843.0,Divorced,3.0,High School,Employed,24.893939,Suburban,Comprehensive,1.0,15.0,686.0,8.0,2021-05-18 15:21:39.108562,Good,No,Rarely,House,NaN,18,5,2021,2021 Q2

#
---
#

In [91]:
data = df.copy()

#
---
#

In [92]:
df.drop(columns="Policy Start Date", inplace=True)

In [93]:
df

,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount,Policy Start Date - Day,Policy Start Date - Month,Policy Start Date - Year,Policy Start Date - Quarter
0,19.0,Female,10049.0,Married,1.0,Bachelor's,Self-Employed,22.598761,Urban,Premium,2.0,17.0,372.0,5.0,Poor,No,Weekly,House,2869.0,23,12,2023,2023 Q4
1,39.0,Female,31678.0,Divorced,3.0,Master's,Self-Employed,15.569731,Rural,Comprehensive,1.0,12.0,694.0,2.0,Average,Yes,Monthly,House,1483.0,12,6,2023,2023 Q2
2,23.0,Male,25602.0,Divorced,3.0,High School,Self-Employed,47.177549,Suburban,Premium,1.0,14.0,555.0,3.0,Good,Yes,Weekly,House,567.0,30,9,2023,2023 Q3
3,21.0,Male,141855.0,Married,2.0,Bachelor's,Self-Employed,10.938144,Rural,Basic,1.0,0.0,367.0,1.0,Poor,Yes,Daily,Apartment,765.0,12,6,2024,2024 Q2
4,21.0,Male,39651.0,Single,1.0,Bachelor's,Self-Employed,20.376094,Rural,Premium,0.0,8.0,598.0,4.0,Poor,Yes,Weekly,House,2022.0,1,12,2021,2021 Q4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999995,50.0,Female,38782.0,Married,1.0,Bachelor's,Employed,14.498639,Rural,Premium,1.0,8.0,309.0,2.0,Average,Yes,Daily,Condo,NaN,9,7,2021,2021 Q3
1999996,56.0,Female,73462.0,Single,0.0,Master's,Self-Employed,8.145748,Rural,Basic,2.0,0.0,452.0,2.0,Good,No,Daily,Apartment,NaN,28,3,2023,2023 Q1
1999997,26.0,Female,35178.0,Single,0.0,Master's,Employed,6.636583,Urban,Comprehensive,2.0,10.0,764.0,6.0,Poor,No,Monthly,Apartment,NaN,30,9,2019,2019 Q3
1999998,34.0,Female,45661.0,Single,3.0,Master's,Self-Employed,15.937248,Urban,Premium,2.0,17.0,467.0,7.0,Average,No,Weekly,Condo,NaN,9,5,2022,2022 Q2
1999999,25.0,Male,24843.0,Divorced,3.0,High School,Employed,24.893939,Suburban,Comprehensive,1.0,15.0,686.0,8.0,Good,No,Rarely,House,NaN,18,5,2021,2021 Q2

In [94]:
df[["Policy Start Date - Day", "Policy Start Date - Month", "Policy Start Date - Year"]] = df[["Policy Start Date - Day", "Policy Start Date - Month", "Policy Start Date - Year"]].astype("O")

In [95]:
nulls = []
nuniques = []
uniques = []
types = []

for i in df.columns:
    nulls.append(df[i].isnull().sum())
    nuniques.append(df[i].nunique())
    uniques.append(df[i].unique())
    types.append(df[i].dtype)


pd.DataFrame(
    {
        "Column" : df.columns,
        "Data Type" : types,
        "Nulls" : nulls,
        "No. of Uniques" : nuniques,
        "Uniques" : uniques
    }
).sort_values(by="Nulls", ascending=False)

,Column,Data Type,Nulls,No. of Uniques,Uniques
18,Premium Amount,float64,800000,4794,"[2869.0, 1483.0, 567.0, 765.0, 2022.0, 3202.0,..."
1,Gender,object,0,2,"[Female, Male]"
0,Age,float64,0,47,"[19.0, 39.0, 23.0, 21.0, 29.0, 41.0, 48.0, 44...."
3,Marital Status,object,0,3,"[Married, Divorced, Single]"
4,Number of Dependents,float64,0,5,"[1.0, 3.0, 2.0, 0.0, 4.0]"
5,Education Level,object,0,4,"[Bachelor's, Master's, High School, PhD]"
2,Annual Income,float64,0,97952,"[10049.0, 31678.0, 25602.0, 141855.0, 39651.0,..."
6,Occupation,object,0,3,"[Self-Employed, Employed, Unemployed]"
7,Health Score,float64,0,934000,"[22.59876067181393, 15.569730989408043, 47.177..."
9,Policy Type,object,0,3,"[Premium, Comprehensive, Basic]"
8,Location,object,0,3,"[Urban, Rural, Suburban]"
11,Vehicle Age,float64,0,20,"[17.0, 12.0, 14.0, 0.0, 8.0, 4.0, 11.0, 10.0, ..."
12,Credit Score,float64,0,550,"[372.0, 694.0, 555.0, 367.0, 598.0, 614.0, 807..."
13,Insurance Duration,float64,0,9,"[5.0, 2.0, 3.0, 1.0, 4.0, 6.0, 8.0, 9.0, 7.0]"
10,Previous Claims,float64,0,10,"[2.0, 1.0, 0.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ..."
14,Customer Feedback,object,0,3,"[Poor, Average, Good]"
15,Smoking Status,object,0,2,"[No, Yes]"
16,Exercise Frequency,object,0,4,"[Weekly, Monthly, Daily, Rarely]"
17,Property Type,object,0,3,"[House, Apartment, Condo]"
19,Policy Start Date - Day,object,0,31,"[23, 12, 30, 1, 20, 21, 8, 14, 2, 22, 28, 17, ..."
20,Policy Start Date - Month,object,0,12,"[12, 6, 9, 5, 2, 8, 3, 10, 1, 4, 7, 11]"
21,Policy Start Date - Year,object,0,6,"[2023, 2024, 2021, 2022, 2020, 2019]"
22,Policy Start Date - Quarter,object,0,21,"[2023 Q4, 2023 Q2, 2023 Q3, 2024 Q2, 2021 Q4, ..."

#
---
#

In [100]:
def return_splits(ddf, feature_name, target_name):
    return [ddf[ddf[feature_name] == i][target_name] for i in ddf[feature_name].unique()]

def give_stats_analysis(df, target_column_name):
    ddf = df.copy()
    ddf = ddf.dropna()

    features = []
    tests = []
    stats = []
    pvals = []
    verdict = []
    count = 0

    target = ddf[target_column_name]
    for i in ddf.columns:
        features.append(i)
        feature = ddf[i]
        
        if (feature.dtype == "O" and (target.dtype == "float" or target.dtype == "int")) or (target.dtype == "O" and (feature.dtype == "float" or feature.dtype == "int")):
            stat, pval, *_ = kruskal(*return_splits(ddf, feature.name, target.name))
            tests.append("Kruskal-Wallis")
            stats.append(stat)
            pvals.append(pval)
            
        
        elif (feature.dtype == "float" or feature.dtype == "int") and (target.dtype == "float" or target.dtype == "int"):
            stat, pval, *_ = spearmanr(feature, target)
            tests.append("SpearmanR")
            stats.append(stat)
            pvals.append(pval)

        elif feature.dtype == "O" and target.dtype == "O":
            stat, pval, *_ = chi2_contingency(pd.crosstab(feature, target))
            tests.append("Chi-Square")
            stats.append(stat)
            pvals.append(pval)
        
        else:
            tests.append(np.nan)
            stats.append(np.nan)
            pvals.append(np.nan)
        
        if pval <= 0.025:
            verdict.append("There is Relationship")
        else:
            verdict.append("There is NO Relationship")

        print(f"{feature.name} ■■■ {target_column_name}".ljust(50, "-")+"✅")
    
    return pd.DataFrame({
        "Feature" : features,
        "Target" : [target_column_name]*ddf.shape[1],
        "Statistic Test" : tests,
        "Test Statistic" : stats,
        "P-Value" : pvals,
        "Verdict" : verdict
    }).sort_values(by="P-Value")

# H0 :- There is ***No Relationship*** among the given two columns
# H1 :- There is ***Relationship*** among the given two columns

In [101]:
give_stats_analysis(df.iloc[:1200000, :], "Premium Amount")

Age ■■■ Premium Amount----------------------------✅
Gender ■■■ Premium Amount-------------------------✅
Annual Income ■■■ Premium Amount------------------✅
Marital Status ■■■ Premium Amount-----------------✅
Number of Dependents ■■■ Premium Amount-----------✅
Education Level ■■■ Premium Amount----------------✅
Occupation ■■■ Premium Amount---------------------✅
Health Score ■■■ Premium Amount-------------------✅
Location ■■■ Premium Amount-----------------------✅
Policy Type ■■■ Premium Amount--------------------✅
Previous Claims ■■■ Premium Amount----------------✅
Vehicle Age ■■■ Premium Amount--------------------✅
Credit Score ■■■ Premium Amount-------------------✅
Insurance Duration ■■■ Premium Amount-------------✅
Customer Feedback ■■■ Premium Amount--------------✅
Smoking Status ■■■ Premium Amount-----------------✅
Exercise Frequency ■■■ Premium Amount-------------✅
Property Type ■■■ Premium Amount------------------✅
Premium Amount ■■■ Premium Amount-----------------✅
Policy Start Date - Day ■■■ Premium Amount--------✅
Policy Start Date - Month ■■■ Premium Amount------✅
Policy Start Date - Year ■■■ Premium Amount-------✅
Policy Start Date - Quarter ■■■ Premium Amount----✅

,Feature,Target,Statistic Test,Test Statistic,P-Value,Verdict
2,Annual Income,Premium Amount,SpearmanR,-0.060743,0.000000e+00,There is Relationship
12,Credit Score,Premium Amount,SpearmanR,-0.037140,0.000000e+00,There is Relationship
18,Premium Amount,Premium Amount,SpearmanR,1.000000,0.000000e+00,There is Relationship
10,Previous Claims,Premium Amount,SpearmanR,0.031065,6.140967e-254,There is Relationship
21,Policy Start Date - Year,Premium Amount,Kruskal-Wallis,744.007760,1.495212e-158,There is Relationship
22,Policy Start Date - Quarter,Premium Amount,Kruskal-Wallis,762.405096,1.339135e-148,There is Relationship
7,Health Score,Premium Amount,SpearmanR,0.016407,3.113085e-72,There is Relationship
20,Policy Start Date - Month,Premium Amount,Kruskal-Wallis,70.518156,9.736743e-11,There is Relationship
14,Customer Feedback,Premium Amount,Kruskal-Wallis,31.155459,1.716635e-07,There is Relationship
6,Occupation,Premium Amount,Kruskal-Wallis,14.927461,5.735127e-04,There is Relationship
0,Age,Premium Amount,SpearmanR,-0.002478,6.648030e-03,There is Relationship
4,Number of Dependents,Premium Amount,SpearmanR,-0.002147,1.869285e-02,There is Relationship
3,Marital Status,Premium Amount,Kruskal-Wallis,7.770854,2.053905e-02,There is Relationship
8,Location,Premium Amount,Kruskal-Wallis,3.429708,1.799900e-01,There is NO Relationship
5,Education Level,Premium Amount,Kruskal-Wallis,3.804265,2.833904e-01,There is NO Relationship
11,Vehicle Age,Premium Amount,SpearmanR,0.000870,3.406769e-01,There is NO Relationship
9,Policy Type,Premium Amount,Kruskal-Wallis,1.907457,3.853018e-01,There is NO Relationship
17,Property Type,Premium Amount,Kruskal-Wallis,1.738442,4.192780e-01,There is NO Relationship
16,Exercise Frequency,Premium Amount,Kruskal-Wallis,2.756426,4.307233e-01,There is NO Relationship
15,Smoking Status,Premium Amount,Kruskal-Wallis,0.169736,6.803462e-01,There is NO Relationship
19,Policy Start Date - Day,Premium Amount,Kruskal-Wallis,22.607314,8.310527e-01,There is NO Relationship
1,Gender,Premium Amount,Kruskal-Wallis,0.017928,8.934858e-01,There is NO Relationship
13,Insurance Duration,Premium Amount,SpearmanR,-0.000071,9.379639e-01,There is NO Relationship

### ***Health-related indicators***
- [x] Health Score
- [x] Smoking Status
- [x] Exercise Frequency
### ***Demographic information***
- [x] Age
- [x] Gender
- [x] Marital Status
- [x] Number of Dependents
- [x] Occupation
### ***Policy details***
- [x] Policy Type
- [x] Policy Start Date
- [x] Insurance Duration
### ***Financial factors***
- [x] Annual Income
- [x] Credit Score.
### ***Premium calculation***
- [x] Premium Amount

# <ins>Key Premium Drivers in the Dataset</ins>

### `Age, Gender, Health Score, Smoking Status, Exercise Frequency`
### `Occupation, Policy Type, Previous Claims`
### `Annual Income, Insurance Duration, Credit Score`